@import "colors";

* {
  font-family: "Roboto", sans-serif;
}

%gray-text {
  color: $gray;
}

.main-container {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.back-button {
  align-items: center;
  display: flex;
  font-size: 20px;
  margin: 46px 0 108px;

  &::before {
    content: url(/src/img/back-arrow-20.png);
    height: 20px;
    margin-right: 12px;
    width: 20px;
  }
}

.card-container {
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.5);
  display: flex;
  padding: 24px;
  width: 900px;
}

.book-info {
  flex: 1;
  padding: 30px 24px 30px 51px;
}

.book-title {
  border-bottom: 4px solid $earls-green;
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 12px;
  width: 100%;

  .book-genre {
    @extend %gray-text;

    display: inline;
    font-size: 24px;
    font-weight: bold;
  }
}

.book-description {
  padding-top: 36px;
}

.book-attribute {
  @extend %gray-text;

  display: block;
  font-size: 20px;
  margin-bottom: 38px;

  .reset-strong {
    color: $black;
  }
}

.image-container {
  position: relative;

  &::before {
    bottom: 55px;
    content: url(/src/img/badge.png);
    left: 57px;
    position: absolute;
    transform: rotate(15deg) scale(0.2);
  }
}

.book-image {
  width: 261px;
}
