@import "colors";

* {
  font-family: "Roboto", sans-serif;
}

%gray-text {
  color: $gray;
}

.container {
  display: flex;
}

.book-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 64px;

  .book-genre {
    @extend %gray-text;

    display: inline;
    font-size: 24px;
    font-weight: bold;
  }
}

.book-attribute {
  @extend %gray-text;

  display: block;
  font-size: 20px;
  margin-bottom: 38px;

  .reset-strong {
    color: $black;
  }
}

.book-image {
  margin-right: 52px;
  width: 261px;
}
